---
import { Button } from "@nextui-org/react";
import "@fortawesome/fontawesome-free/css/all.css";

import labarra from '../../public/images/proyectos/labarra.jpeg';
import vorttex from '../../public/images/proyectos/vorttex.jpeg';
import pokedex from '../../public/images/proyectos/pokedex.jpeg';

interface Proyecto {
    title: string;
    quantity: number;
    description: string;
    stack: string[];
    buttonDemo: string;
    buttonCode: string;
    github: string;
    deploy?: string;
}

interface ProyectoConImagenes extends Proyecto {
    image?: any;
}

const imagesProjects = [labarra.src, vorttex.src, pokedex.src];

import { getI18N } from "../lenguajes";
const { currentLocale }: any = Astro;
const i18n = getI18N({ currentLocale });

interface PropsProjects {
    title: string
    project1: Proyecto  
    project2: Proyecto  
    project3: Proyecto  
}

interface I18N {
    Projects: PropsProjects;
}
const i18nTyped = i18n as I18N;
const { Projects } = i18nTyped;
let projects: ProyectoConImagenes[] = [
    Projects.project1,
    Projects.project2,
    Projects.project3,
];

projects.forEach((pro, index) => {
    pro.image = imagesProjects[index];
});

---

<div
    id="proyectos"
    class="mb-[45vh] max-sm:mb-[20vh] max-sm:w-[90%] max-sm:mx-auto"
>
    <h2 class="titleSection">
        <i class="fa-solid fa-diagram-project opacity-50"></i> { Projects.title }
    </h2>
    <ul>
        {
            projects.map((project) => (
                <li class="w-[75%] mx-auto mb-[5%] flex max-sm:block max-sm:mb-[15vh]">
                    <article class="w-1/2 max-sm:w-[100%] 2xl:flex 2xl:justify-end">
                        <img
                            class="w-full h-[40vh] 2xl:w-[90%] 2xl:h-[36vh] max-sm:h-[20vh] rounded-2xl"
                            src={project.image}
                            alt={project.title}
                        />
                    </article>

                    <article class="w-1/2 max-sm:w-[100%] max-sm:mt-[4%] pl-[3%] max-sm:pl-0">
                        <h2 class="font-extrabold text-[1.4rem] text-[#ddd] 2xl:text-[2.3rem]">
                            {project.title}
                        </h2>
                        <ul class="flex justify-start mt-[2%] max-sm:mt-[4%] max-sm:mb-[4%]">
                            {project.stack.map((hab) => (
                                <p
                                    class={`2xl:text-[1.2rem] mr-[2%] rounded-md opacity-80 text-[.8rem] py-[.7%] px-[3%] text-black ${hab}`}
                                >
                                    {hab}
                                </p>
                            ))}
                        </ul>
                        <p class="2xl:text-[1.3rem] mt-[2%] text-balance text-[#ccc]">
                            {project.description}
                        </p>
                        <a href={project.github} target="_blank">
                            <Button
                                className="2xl:text-[1.2rem] 2xl:py-[4%] 2xl:px-[6%] mt-[2%] opacity-100 text-[#8ed2ff] max-sm:mt-[5%]"
                                color="primary"
                                variant="flat"
                                client:visible
                            >
                                <i class="fa-brands fa-github" /> { project.buttonCode }
                            </Button>
                        </a>
                        {project.deploy && (
                            <a href={project.deploy} target="_blank">
                                <Button
                                    className="2xl:text-[1.2rem] 2xl:px-[6%] 2xl:py-[4%] mt-[2%] opacity-100 text-[#8ed2ff] max-sm:mt-[5%]"
                                    color="primary"
                                    variant="flat"
                                    client:visible
                                >
                                    <i class="fa-solid fa-link" /> { project.buttonDemo }
                                </Button>
                            </a>
                        )}
                    </article>
                </li>
            ))
        }
    </ul>
</div>

<style>
    .Javascript {
        background-color: #eacc25;
        color: black;
    }
    .Next {
        background-color: black;
        color: white;
    }
    .React {
        background-color: #09f;
        color: white;
    }
    .Vite {
        background-color: #d511e8;
        color: white;
    }
</style>
